<div class="banner">
  <img src="assets/img/campeones.jpeg">
</div>

<div class="container">
  <div class="titulo">
    <h2>Nuestros <span>Productos</span></h2>
  </div>

<div class="contenedor-products container">
    <div class="row">
        <div class="card col-4">
            <div class="cont-img">
                <img src="assets/img/camisetatitular.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Camiseta Titular 2022</h5>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
        </div>
    
        <div class="card col-4">
            <div class="cont-img">
                <img src="assets/img/camisetaalternativa.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Camiseta Alternativa 2022</h5>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
        </div>
    
        <div class="card col-4">
            <div class="cont-img">
                <img src="assets/img/entrenamiento.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Camiseta Entrenamiento 2022</h5>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
        </div>

        <div class="card col-4">
            <div class="cont-img">
                <img src="assets/img/buzo.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Buzo Entrenamiento 2022</h5>
              <a [routerLink]="['/indumentarias']" class="btn">Armar kit</a>
            </div>
        </div>
    </div>

</div>

<div class="cont-categorias">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Camisetas oficiales</h5>
              <p class="card-text">Conocé todos nuestros productos sobre camisetas oficiales.</p>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Indumentaria oficial</h5>
              <p class="card-text">Conocé todos nuestros productos sobre indumentaria oficial.</p>
              <a [routerLink]="['/indumentarias']" class="btn">Armar kit</a>
            </div>
          </div>
        </div>
      </div>
</div>


</div>
