<div class="banner">
  <img src="https://e00-ar-marca.uecdn.es/claro/assets/multimedia/imagenes/2022/06/01/16541183225005.jpg">
</div>

<div class="container">
  <div class="titulo">
    <h2>Nuestros <span>Productos</span></h2>
  </div>

<div class="contenedor-products container">
    <div class="row">
        <div class="card col-4">
            <div class="cont-img">
                <img src="https://www.afashop.com.ar/ccstore/v1/images/?source=/file/v3363863698249912481/products/HB9215_FC_eCom-0.jpg&height=475&width=475" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Camiseta Titular 2022</h5>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
        </div>
    
        <div class="card col-4">
            <div class="cont-img">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a37248da803e40d08f48af04010aae24_9366/Camiseta_Suplente_Seleccion_Argentina_Messi_1_Azul_IQ5463_01_laydown.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Camiseta Alternativa 2022</h5>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
        </div>
    
        <div class="card col-4">
            <div class="cont-img">
                <img src="https://media.tycsports.com/files/2022/08/02/460026/camiseta-prematch-argentina_w416.webp" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Camiseta Entrenamiento 2022</h5>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
        </div>

        <div class="card col-4">
            <div class="cont-img">
                <img src="https://assets.adidas.com/images/w_383,h_383,f_auto,q_auto,fl_lossy,c_fill,g_auto/57fa4f61cc13476d9f4daeb500e1b519_9366/buzo-de-entrenamiento-argentina-tiro-23.jpg" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title">Buzo Entrenamiento 2022</h5>
              <a [routerLink]="['/indumentarias']" class="btn">Armar kit</a>
            </div>
        </div>
    </div>

</div>

<div class="cont-categorias">
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Camisetas oficiales</h5>
              <p class="card-text">Conocé todos nuestros productos sobre camisetas oficiales.</p>
              <a [routerLink]="['/camisetas']" class="btn">Armar kit</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Indumentaria oficial</h5>
              <p class="card-text">Conocé todos nuestros productos sobre indumentaria oficial.</p>
              <a [routerLink]="['/indumentarias']" class="btn">Armar kit</a>
            </div>
          </div>
        </div>
      </div>
</div>


</div>
