.container{
    padding-left: 40px;
}

.titulo{
    margin-top: 50px;
    max-width: 20%;
    text-transform: uppercase;
    font-size: 40px;
}
    .titulo span{
        display: block;
        font-size: 50px;
        font-weight: bold;
    }

.informacion{
    margin-top: 40px;
    margin-bottom: 80px;
}