.navbar{
    height: 130px;
    padding-left: 40px;
    background-color: rgb(4,56,118);
}
.navbar img{
    height: 90px;
    margin-right: 30px;
}
.navbar-brand{
    font-size: 30px;
    font-weight: 600;
}
    .navbar-brand span{
        color: rgb(204, 176, 106);
    }

#navbarNav{
    font-size: 20px;
    padding-left: 30px;
}
.nav-item{
    margin-right: 20px;
}
.banner img{
    width: 100%;
}