<div class="container">
    <div class="titulo">
        <h2>Entradas para <span>Qatar</span></h2>
    </div>
    
    <div class="informacion">
    <div class="card-group">
        <div class="card">
          <img class="card-img-top" src="https://media.primicias.ec/2022/11/30141907/Hinchas-seleccion-argentina-Mundial-Qatar-1024x574.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">vs. Arabia</h5>
            <p class="card-text">Fecha 1 - Fase de grupos | Lusail Stadium</p>
            <button class="btn btn-primary">Comprar</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://media.primicias.ec/2022/11/30141907/Hinchas-seleccion-argentina-Mundial-Qatar-1024x574.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">vs. México</h5>
            <p class="card-text">Fecha 2 - Fase de grupos | Lusail Stadium</p>
            <button class="btn btn-primary">Comprar</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://media.primicias.ec/2022/11/30141907/Hinchas-seleccion-argentina-Mundial-Qatar-1024x574.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">vs. Polonia</h5>
            <p class="card-text">Fecha 3 - Fase de grupos | 974 Stadium</p>
            <button class="btn btn-primary">Comprar</button>
          </div>
        </div>
    </div>
    </div>
</div>
